.container {
  padding-top: calc(env(safe-area-inset-top) + 100px);
  padding-bottom: 60px;

  .title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }

  .empty_block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-top: 64px;
    height: calc(100% - 206px);

    .img {
      width: 128px;
      height: 128px;
    }

    .text {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      margin-bottom: auto;
    }

  }

  .events {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    .event {
      .data {
        margin-bottom: 6px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        .day {
          color: #78818F;
        }
        .weekday {
          color: #78818F;
        }
      }

      .event_title_block {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 8px;

        .event_title {
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          margin-bottom: 10px;
        }
        .like {
          flex-shrink: 0;

          .like_icon {
            width: 24px;
            height: 24px;
          }
          &.favorite {
            svg {
              fill: #ED3368
            }
          }
          svg {
            fill: #78818F
          }
        }
      }

      .city_block {
        display: flex;
        gap: 6px;

        .city {
          display: block;
          padding: 4px 8px;
          border-radius: 10px;
          background-color: #292D33;
          width: fit-content;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }
}
.button {
  position: absolute;
  bottom: 92px;
  width: calc(100% - 32px);
  height: 52px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F1F4F8;
  color: #15171A;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  }


