.container {
  position: fixed;
  top: env(safe-area-inset-top);
  left: 0;
  right: 0;
  z-index: 999;
  padding: 16px;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #15171A;

  .buttons_block {
    display: flex;
    gap: 6px;
    overflow-x: auto;

    .button {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 8px 10px 8px 12px;
      background-color: #292D33;
      border-radius: 12px;
      color: #F1F4F8;

      &.active {
        background-color: #F1F4F8;
        color: #15171A;

        svg {
          path {
            stroke: #15171A !important;
          }
        }
      }

      &.only_icon {
        padding: 8px;
      }
    }
  }
}